.headerText{
  text-align: center;
}

.inputContainer{
  margin-bottom: 10px;
}

.addContainer{
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.button{
  color:rgb(255, 255, 255);
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 10%;
 margin-left: 8%;
  
}

.buttonContainer{
  margin-top: 25px;
}
.orderButton{
  /* border: none;
  background-color: rgb(241, 9, 20); */
  width: 100px;
  color: dodgerblue;
  border-radius: 5px;
  /* height: 25px; */
  border-color: dodgerblue;
}